/* images gap */
.slick-slide > div {
  margin: 0 5px;
}
.slick-list {
  margin: 0 -10px;
}

/* arrow color */

.slick-prev:before,
.slick-next:before {
  color: rgb(145, 130, 130);
  display: none;
}


.slick-prev:before:hover{
  opacity:0.75;
}

.slick-next:before:hover{
  opacity: 0.75;
}

/* querys carousel mobile*/
@media screen and (min-width: 481px) and (max-width: 600px) { 
  .container{
    width: 260px;
    height: 300px;
  }
}

@media (max-width: 480px){
  .container{
    width: 130px;
    height: 300px;
    
  }
  .slick-prev:before,
  .slick-next:before {
  color: rgb(145, 130, 130);
  display: block;
}
.slick-dots{
  position: absolute;
  bottom: -45px;
}
}
